*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
h1{
    font-size: 3rem;
    margin: 20px;
    text-align: center;
}
.para0{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 30px;
}
.para1{
    font-size: 3rem;
    font-weight: bold;
    margin: 50px;
    text-align: center;

}
.para2{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.para3{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin: 20px;
}
img{
    width: 150px;
}
div{
    display: flex;
    justify-content: center;
}
nav{
    font-size: 2rem;
    margin: 30px;
   text-decoration: none;
}
.navbar{
    text-decoration: none;
    padding: 10px;
    border: 1px solid #000000;
    font-size: 2rem;
    background-color: #c5c0c0;
    color: #000000;
}
nav a:hover{
    background-color: #0056b3;
}
nav a:focus{
    background-color: #28a745;
}
.heading1{
    width: 100px;
    font-size: 2rem;
    text-wrap: nowrap;
    
}
.heading2{
    width: 600px;
    margin: 20px;
    font-size: 1.8rem;
    padding: 10px;
    
}
.heading3{
    padding: 4px;
}
.cnic-container{
    float: left;
    gap: 6px;
}
.cnic-box{
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #333;
    border-radius: 4px;
}
.dash{
    font-size: 20px;
    margin: 0 4px;
}


